# Database Settings
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=cafe
POSTGRES_PORT=4044

# Redis Settings
REDIS_PORT=4045

# AWS/LocalStack Settings
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_S3_ENDPOINT=http://127.0.0.1:4046
AWS_S3_BUCKET=cafe-uploads

# API Settings
API_PORT=4040
