# Database Settings
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=cafe
POSTGRES_PORT=4044

# Redis Settings
REDIS_PORT=4045

# MinIO Config
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=password123
MINIO_PORT=4046
MINIO_CONSOLE_PORT=4047

# API Settings
API_PORT=4040
