PORT=4040
DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:4048/postgres?schema=public"

AWS_REGION="local"
AWS_ACCESS_KEY_ID="your-access-key-id"
AWS_SECRET_ACCESS_KEY="your-secret-access-key"
AWS_S3_ENDPOINT="http://127.0.0.1:4047/storage/v1/s3"
AWS_S3_BUCKET="cafe-uploads"

SUPABASE_URL=http://127.0.0.1:4047
SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key

STRIPE_PUBLISHABLE_KEY=pk_test_
STRIPE_SECRET_KEY=sk_test_
STRIPE_WEBHOOK_SECRET=whsec_